body {
	margin: 0;
	padding: 0;
}

form {
	padding: 1rem;
}

form div {
	display:table-row;
}

label {
	font-weight: 600;
	display: table-cell;
	text-align: right;
}

input, textarea {
	margin: 0.5rem 0.5rem;
	border: 1px solid darkblue;
	width: 15rem;
}

textarea {
	vertical-align: top;
}

input[type=submit] {
	border: 1px solid black;
	border-radius: 0.5rem;
	width: 4rem;
	height: 2rem;
	background-color: blue;
	font-size: 1rem;
	color: white;
}

p {
	color: orange;
	font-weight: 600;
	margin: 0;
}

.form-container {
	display: inline-block;
	padding: 0rem 2rem;
	display: table;
}

.submit-btn-box {
	float: left;
}

.securty-code {
	color: black;
}

.required-field {
	font-size: 0.8rem;
	color: gray;
}

.radio-btn {
	width: 2rem;
}

.radio-text {
	color: gray;
}